# PHP Storm config
/.idea

# Default ignored files
/shelf/
/workspace.xml

# Editor-based HTTP Client requests
/httpRequests/

# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Logs
*.log

# Cache and temp files
*.cache
*.temp
.cache/
.phpunit.result.cache

# Environment setup
.env

# PHP dependencies
vendor/