@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

html,
body {
  height: 100%;
  font-family: "Jacques Francois", serif;
}
a {
  text-decoration: none;
  color: white;
}

* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

.background {
  background-image: url("../images/background/backgrounf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
}

nav {
  display: flex;
  justify-content: end;
}

#open {
  color: white;
  margin-right: 35px;
  font-size: 30px;
}

.lista {
  display: none;
  position: absolute;
  background-color: #6a4731;
  height: 100%;
  width: 318px;
}

.lista i {
  margin-right: 14px;
}

.lista > li {
  margin: auto;
  list-style: none;
  color: white;
  width: 70%;
  font-size: 24px;
  margin-bottom: 15%;
}

.lista > li:first-child {
  font-size: 35px;
}

.lista > li:nth-child(n + 2) {
  background-color: #8e5c3c;
  margin-bottom: 5%;
  height: 66px;
  border-radius: 9px;
  display: flex;
  align-items: center;
  padding-left: 20%;
  margin-bottom: 20%;
}

.lista > li:last-child {
  background-color: red;
  margin-top: 70%;
}

li a {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  grid-gap: 4px;
  align-items: center;
  justify-content: center;
  height: 95%;
  gap: 5%;
}

button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #774972;
  border-radius: 10px;
  color: white;
}

.to_schedule {
  width: 60%;
  padding: 30px;
  font-family: "JetBrains Mono", monospace;
  font-size: 20px;
}

.menu {
  font-size: 15px;
  width: 30%;
  padding: 20px;
}
